* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
/*********** FACISLITAS *********/
body {
    background-color: #dbe5e6;
}
.kuisoner {
    background-color: #dbe5e6;
    padding: 30px 0px;
}
.kuisoner h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
}
.title {
    text-align: center;
    padding: 25px 0px;
}
.title p{
    font-size: 18px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card {
    margin: 20px 10x;
}

.card-body a{
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}
.card-body a:hover {
    color: #63a6b0;
    text-decoration: none;

}
