@media screen and (max-width: 600px) {
    .img{
        display: none;
        width: 500px;
    }

    .gambar{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .img{
        width: 500px;
        z-index: -1;
    }
}

@media screen and (max-width: 1199px) {
    .img{
        width: 500px;
        z-index: -1;
    }
}

@media screen and (max-width: 992px) {
    .img{
        width: 300px;
        z-index: -1;
    }
}



